
body {
  background-color: powderblue;


}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */ 
.homePage{
  /* background-color: powderblue; */
  text-align: center;
  padding: 200px;
  margin: 0;
  font-size: 25px;
  border: 0ch;
  
}
.sign{
  margin: 10px 2px 10px 2px;
  padding: 10px 50px 10px 50px;
  border-radius: 2px solid;
  
  }

  .loginForm{
    text-align: center;
    margin: 0 26% 0 30% ;
    padding:0 5% 0 2%;
  }

  .login, .signUp{
    padding: 20px 100px 20px 100px;
    margin-bottom: 10px;
    /* border-collapse: 5%; */
    font-size:15px
  }

  .loginButton{
    padding: 20px 150px 20px 160px;
    margin-bottom: 10px;
    border-collapse: 5%;
    font-size:20px;
    margin-top: 2%;
  }